**/target/
**/build/
.gradle/
.idea/
*.iml
.DS_Store
benchmarks/results/
*.jfr
*.hprof


dist/
__pycache__/
*.pyc
qa/integration/*.log
qa/memory/*.log
benchmarks/rally/documents.json
benchmarks/opensearch/documents.json
